<%- include('../../partial/header/header-doc-title.ejs') %>

<body data-theme="light" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
  <div class="wrapper">
    <nav id="sidebar" class="sidebar">
      <%- include('../../partial/left-sidebar/left-sidebar.ejs') %>
    </nav>
    <div class="main">
      <%- include('../../partial/top-header/top-header.ejs') %>

      <main class="content">
        <div class="container-fluid p-0">

          <h1 class="h3 mb-3">Category</h1>

          <div class="row ">
            <div class="col-12 col-xl-6">
              <div class="card ">
                <div class="card-header">
                  <h5 class="card-title ml-10">Category List
                    <a href="/category/sub-category">
                      <button class="btn btn-sm btn-primary rounded">
                        <i class="align-middle" data-feather="plus"></i> Sub Category
                      </button>
                    </a>
                  </h5>
                  <h6 class="card-subtitle text-muted">Category name and date.</h6>
                </div>
                <div class="card-body">
                  <table id="datatables-reponsive" class="table table-striped">

                    <thead>

                      <tr>
                        <th>#Id</th>
                        <th>Category</th>
                        <th>Icon</th>
                        <th>Action</th>
                      </tr>

                    </thead>
                    <tbody>
                      <% for( let c of catalogs){ %>
                      <tr>
                        <td class="col-lg-1">#<%= c._id%></td>
                        <td><%= c.category.replace(/\w/, c => c.toUpperCase())%></td>
                        <td><%= c.icon%></td>
                        <td>
                          <button class="btn btn-info rounded-pill">
                            <i class="align-middle" data-feather="edit"></i>
                          </button>
                          <a href="/category/d/<%= c._id%>" id="deleteId">
                            <button class="btn btn-danger rounded-pill">
                              <i class="align-middle" data-feather="delete"></i>
                            </button>
                          </a>
                        </td>
                        <% } %>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-12 col-xl-6">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Category</h5>
                  <h6 class="card-subtitle text-muted">Create your category</h6>
                </div>

                <div class="card-body">

                  <form id="formId">

                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <label class="form-label">Category <span class="text-danger">*</span></label>
                        <input type="text" id="categoryId" name="category" class="form-control" placeholder="New category">
                        <span class="text-danger" id="error"></span>
                      </div>
                      <div class="mb-3 col-md-6">
                        <label class="form-label">Icon <span class="text-danger">*</span></label>
                        <input type="file" id="iconId" name="icon" class="form-control" placeholder="New category">
                        <span class="text-danger" id="error2"></span>
                      </div>
                    </div>

                    <button type="submit" class="btn btn-success" id="updateId">Create Category</button>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </main>

      <%- include('../../partial/footer/footer.ejs') %>
    </div>
  </div>
  <script src="../../../js/app.js"></script>
  <script src="../../script/index-script.js"> </script>
  <script src="../../js/sweetalert2.js"></script>
  <script>
    const Toast = Swal.mixin({
      toast: true,
      position: 'top',
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer);
        toast.addEventListener('mouseleave', Swal.resumeTimer);
      }
    });
    const _ = (id) => document.getElementById(id)
    const newForm = document.forms["formId"];

    _("formId").addEventListener('submit', async function(e) {
      e.preventDefault()

      function showError() {
        if (_("categoryId").value === '') {
          _("error").innerHTML = "Category is required."
        } else {
          _("error").innerHTML = ""
        }
        if (_("iconId").value === '') {
          _("error2").innerHTML = "Icon is required."
        } else {
          _("error2").innerHTML = ""
        }
      }
      showError()
      const settings = {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          // your expected POST request payload goes here
          category: newForm["category"].value,
          icon: newForm["icon"].value,
          copy_category: newForm["category"].value,
        }),

        // send: swal.fire({
        //   html: ` <img src="../../../img/photos/gifs.gif" width="100px" height="100px">`,
        //   width: '180px',
        //   allowOutsideClick: false,
        //   backdrop: false,
        //   showConfirmButton: false
        // })
        send: swal.fire({
          html: ` <img src="../../../img/photos/gifs.gif" width="100px" height="100px">`,
          // height: "10px",
          width: "158px",
          allowOutsideClick: false,
          backdrop: false,
          showConfirmButton: false,
        }),
      };
      const fetchResponse = await fetch('/create/category', settings)
      const response = await fetchResponse.json()
      console.log(response)
      if (response.success) {
        window.location.reload();
      }
      if (response.error.status === 400) {
        Toast.fire({
          title: "Category & Icon is required",
          icon: "error",
          // width: "270px",
          title: "Category & Icon is required",
          position: 'top-end',
          width: "400px",
        });
      }
      if (response.error.status === 422) {

        swal.fire({
          title: 'Category already exits.',
          text: 'Please try again.',
          icon: 'error',
          showCloseButton: true,
          confirmButtonText: 'Close'
        });
        error.innerHTML = "Category already exits."
      }
    })
  </script>

</body>

</html>