<%- include('../../partial/header/header-doc-title.ejs') %>

<body data-theme="light" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
  <div class="wrapper">
    <nav id="sidebar" class="sidebar">
      <%- include('../../partial/left-sidebar/left-sidebar.ejs') %>
    </nav>
    <div class="main">
      <%- include('../../partial/top-header/top-header.ejs') %>

      <main class="content">
        <div class="container-fluid p-0">
          <h1 class="h3 mb-3">Sub Categories</h1>
          <div class="row ">
            <div class="col-12 col-xl-6  ">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Sub Category List
                    <a href="/category">
                      <button class="btn btn-sm btn-primary rounded">
                        <i class="align-middle" data-feather="plus"></i> Category
                      </button>
                    </a>
                  </h5>
                  <h6 class="card-subtitle text-muted">Sub Category name and date.</h6>
                </div>
                <div class="card-body">
                  <table id="datatables-dashboard-projects" class="table table-striped my-0">
                    <thead>

                      <tr>
                        <th class="d-none d-xl-table-cell">#Id</th>
                        <th class="d-none d-xl-table-cell">Sub Category</th>
                        <th class="d-none d-xl-table-cell">#Category</th>
                        <th class="d-none d-xl-table-cell">Action</th>
                      </tr>

                    </thead>
                    <tbody>
                      <% for(let c of subcategory){ %>
                      <tr>
                        <td class="d-none d-xl-table-cell"><%= c._id %> </td>
                        <td class="d-none d-xl-table-cell"><%= c.sub_category_name %></td>
                        <td class="d-none d-xl-table-cell">/<%= c.category_id_name %></td>
                        <td class="d-none d-xl-table-cell"><button class="btn btn-info rounded-pill"><i class="align-middle" data-feather="edit"></i></button>
                          <button class="btn btn-danger rounded-pill"><i class="align-middle" data-feather="delete"></i> </button>
                        </td>

                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-12 col-xl-6">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Sub Category</h5>
                  <h6 class="card-subtitle text-muted">Create your sub category</h6>
                </div>
                <div class="card-body">
                  <form id="formId">
                    <div class="row">


                      <div class="mb-3  col-md-6">
                        <label class="form-label">Sub Category <span class="text-danger">*</span></label>
                        <input id="sub_category_name" type="text" name="sub_category_name" class="form-control" placeholder="New sub category">
                        <span class="text-danger" id="error"></span>
                      </div>
                      <div class="mb-3 col-md-6">
                        <label class="form-label">Icon <span class="text-danger">*</span></label>
                        <input type="file" id="iconId" name="icon" class="form-control" placeholder="New category">
                        <span class="text-danger" id="error2"></span>
                      </div>
                      <div class="mb-3  col-md-12">
                        <label class="form-label">Main Category Id <span class="text-danger">*</span></label>

                        <select class="form-control select2" id="categoryId" data-toggle="select2" name="category_id">
                          <option hidden value="">Please select category</option>
                          <% for(let c of category){ %>
                          <option value="<%= c.category_copy %>"><%= c.category %> </option>
                          <% } %>


                        </select>
                        <span class="text-danger" id="error3"></span>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-success">Create Sub Category </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <%- include('../../partial/footer/footer.ejs') %>
    </div>
  </div>

  <script src="../../../js/app.js"></script>

  <script src="../../script/index-script.js"> </script>
  <script>
    const _ = (id) => document.getElementById(id)
    const formId = document.querySelector("#formId")
    const newForm = document.forms["formId"];
    formId.addEventListener('submit', async function(e) {
      e.preventDefault()

      if (_('sub_category_name').value === '') {
        _('error').innerHTML = "Sub Category is required."
        // console.log(categoryId.value)
      } else {
        _('error').innerHTML = ""
      }
      //   if (_('iconId').value === '') {
      //     _('error2').innerHTML = "Icon is required."
      //   } else {
      //     _('error2').innerHTML = ""
      //   }
      if (_('categoryId').value === '') {
        _('error3').innerHTML = "Category Id is required."
      } else {
        _('error3').innerHTML = ""
      }

      const settings = {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },

        body: JSON.stringify({
          // your expected POST request payload goes here
          sub_category_name: newForm["sub_category_name"].value,
          icon: newForm["icon"].value,
          // main_cat_id: newForm["main_cat_id"].value,
          category_id_name: newForm["category_id"].value,

        }),
      };
      const fetchResponse = await fetch('/category/api/test-sub-cat', settings)
      const response = await fetchResponse.json()
      console.log(response)
      if (response.status === 201) {
        newForm["sub_category_name"].value = ""
        newForm["category_id"] = ""
        setTimeout(() => {
          window.location.reload();
        }, 100)
      }
      if (response.error.status === 422) {
        error.innerHTML = "Sub Category already exits."
      }
    })
  </script>

</body>

</html>