 <%- include('./partials/table-thead.ejs') %>
 <tbody>
   <% for(let p of products){ %>
   <tr>
     <td><img class="rounded" src="../../../img/avatars/avatar-2.jpg" alt="Placeholder" width="40"> </td>
     <td class="col-lg-2 title_longs"><a href="<%= url%>/product/<%=p.short_title%>?spm=<%= p.product_sellerSKU%>&scm=<%= p._id%>&pvid=<%= p.category%>" target="_blank"><%=p.title_name.length>=30? p.title_name.slice(0,25).concat('...'):p.title_name %></a></td>
     <td><%=p.product_sellerSKU%></td>
     <td><%=p.color_name%> </td>
     <td><%=p.product_price%>TK</td>
     <td><del><%=p.special_price%></del>Tk</td>
     <td><%=p.product_quantity%></td>
     <td><span class="badge bg-success">Active</span></td>
     <td><%=p.date%> / <%=p.time%></td>
     <td>
       <%- include('./partials/buttons.ejs') %>
     </td>
   </tr>
   <% } %>
 </tbody>
 </table>
 <%- include('./partials/head-end.ejs') %>