<%- include('../partial/header/header-doc-title.ejs') %>

<body data-theme="light" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
  <div class="wrapper">
    <nav id="sidebar" class="sidebar">
      <%- include('../partial/left-sidebar/left-sidebar.ejs') %>
    </nav>
    <div class="main">

      <%- include('../partial/top-header/top-header.ejs') %>

      <main class="content">
        <div class="container-fluid p-0">

          <%- include('../partial/dashboard/home-dashboard.ejs') %>

          <%- include('../partial/charts/first-chart.ejs') %>

          <%- include('../partial/debatable/index-debatable.ejs') %>
          <%- include('../partial/charts/charts.ejs') %>


        </div>
      </main>

      <%- include('../partial/footer/footer.ejs') %>
    </div>
  </div>

  <script src="../../js/app.js"></script>

  <!-- <script>
    const titleS = document.getElementById('titleS')
    titleS.innerHTML = titleS.innerHTML.slice(0, 40).concat('..')
  </script> -->

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Line chart
      new Chart(document.getElementById("chartjs-line"), {
        type: "line",
        data: {
          labels: [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec",
          ],
          datasets: [{
              label: "Sales ($)",
              fill: true,
              backgroundColor: "transparent",
              borderColor: window.theme.primary,
              data: [
                2115, 1562, 1584, 1892, 1487, 2223, 2966, 2448,
                2905, 3838, 2917, 3327,
              ],
            },
            {
              label: "Orders",
              fill: true,
              backgroundColor: "transparent",
              borderColor: window.theme["primary-dark"],
              borderDash: [4, 4],
              data: [
                958, 724, 629, 883, 915, 1214, 1476, 1212, 1554,
                2128, 1466, 1827,
              ],
            },
          ],
        },
        options: {
          maintainAspectRatio: false,
          legend: {
            display: false,
          },
          tooltips: {
            intersect: false,
          },
          hover: {
            intersect: true,
          },
          plugins: {
            filler: {
              propagate: false,
            },
          },
          scales: {
            xAxes: [{
              reverse: true,
              gridLines: {
                color: "rgba(0,0,0,0.05)",
              },
            }, ],
            yAxes: [{
              ticks: {
                stepSize: 500,
              },
              display: true,
              borderDash: [5, 5],
              gridLines: {
                color: "rgba(0,0,0,0)",
                fontColor: "#fff",
              },
            }, ],
          },
        },
      });
    });
  </script>
  <script src="../../script/index-script.js"> </script>
</body>

</html>